.center {
    text-align: center;
}
button { 
    font-size: 5px;
}

.col {
    border: 1px solid red;
    box-sizing: border-box;
    display: inline-block;
    width: 25px;
    height: 86px;
    padding: 0;
  }

.col {
    font-size: 56px;
    text-align: center;
}

.container{
    padding: 7px 0px;
}

#green {
    background-color: green;
    color: white;
}

#orange {
    background-color: orange;
    color: white;
}

#grey {
    background-color: grey;
    color: white;
}

@media (min-width: 992px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 440px;
    }
}

