.center {
    padding-top: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.btn {
    font-size: 1em;
    padding: 1rem 0.75rem;;
}

.btn-outline-secondary:hover {
    background-color: #fff;
    color: #6c757d;
    
}

.col {
    border: 1px solid red;
    box-sizing: border-box;
    display: inline-block;
    width: 25px;
    height: 67px;
    padding: 0;
  }

.col {
    font-size: 44px;
    text-align: center;
}

.container{
    padding: 7px 0px;
}

.grid {
    max-width: 335px;
    position:fixed;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 6%
}

.keyboard {
    bottom: 10px;
    position:fixed;
    left: 50%;
    transform: translateX(-50%);
}
#green {
    background-color: green;
    color: white;
}

#orange {
    background-color: orange;
    color: white;
}

#grey {
    background-color: grey;
    color: white;
}

@media print, screen and (max-height: 720px) {
    .grid {
        padding-top: 0;
    }
  }

  @media print, screen and (max-width: 380px) {
  .btn {
    padding: 1rem 0.65rem;
    }
}

